.prodListForm {
    margin-bottom: 30px;
}

.queryForm {
    padding: 0;
}

.prodItem {
    width: calc(25% - 32px);
    position: relative;
    float: left;
    padding: 0;
    margin: 0 16px;
}

.cover {
    background-color: gray;
    margin: 0 16px;
    padding: 0;
}

.coverInfo {
    width: 30%;
    color: white;
    margin: auto 15px;
}

.coverInfo h3{
    font-weight: 600;
}

    .coverInfo h4:hover {
        color: black;
        cursor:pointer;
    }

.coverImg {
    width: 65%;
    height: 400px;
    background-image: url('../img/capsule_616x353(3).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@media (max-width:993px) {
    .prodItem {
        width: calc(50% - 32px);
    }

    .coverInfo {
        display: none;
    }

    .coverImg {
        width: 100%;
    }
}

.prodItemImg {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 125%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/noImg.png);
}

.buy-now-hover {
    display: none;
    position: absolute;
    outline: 1px solid red;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.prodItemImg:hover .buy-now-hover {
    display: block;
}

.buy-now-hover a {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
